services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: analytics_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: analytics_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: analytics_frontend
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    depends_on:
      - kafka
      - zookeeper
    env_file:
    - .env
  consumer:
    build:
      context: ./kafka-consumer
      dockerfile: Dockerfile
    container_name: analytics_consumer
    depends_on:
      - kafka
    environment:
      KAFKA_BROKERS: kafka:9092

  postgres:
    image: postgres:15
    container_name: analytics_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: analytics
      POSTGRES_PASSWORD: analytics
      POSTGRES_DB: analytics
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: